<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletHandson5</display-name>
  <context-param>
		<param-name>EI Paso nightlife</param-name>
		<param-value>The Walt Disney Concert Hall</param-value>
	</context-param>

	<context-param>
		<param-name>Plaza Classic Film Festival</param-name>
		<param-value>The Oslo Opera House</param-value>
	</context-param>

	<context-param>
		<param-name>EI Paso nightlife Cost</param-name>
		<param-value>100</param-value>
	</context-param>

	<context-param>
		<param-name>Plaza Classic Film Festival Cost</param-name>
		<param-value>400</param-value>
	</context-param>

</web-app>