body {
  margin: 0px;
}
h1 {
  font-family: "Secular One", sans-serif;
  text-align: center;
}
table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.odd {
  background-color: #b3edcf;
}
.even {
  background-color: #e0f0e9;
}
table {
  margin-left: auto;
  margin-right: auto;
  font-family: "Baloo Tammudu 2", cursive;
}
td {
  padding: 4px;
}
th {
  height: 34px;
}
